{
    "extends": "rallycoding",
    "rules":{
        "key-spacing": ["error", {
            "multiLine": {
                "beforeColon": false,
                "afterColon": true
            },
            "align": {
                "beforeColon": true,
                "afterColon": true,
                "on": "colon"
            }
        }]
    }
}